<div class="services">
  <div class="service-header">
    <h1 class="pt-5 pb-3">Serviços</h1>
  </div>

  <div class="service-content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12 tst">
          <a href="" routerLink="/dog-walking">
            <div class="service">

              <img src="./../../../assets/1.png" alt="">

              <h4>Dog Walking</h4>
              <p>
                Passeios recreativos para cães de todas as idades e porte.
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xs-12 tst">
          <a href="" routerLink="/hospedagem-afetiva">
            <div class="service">

              <img src="./../../../assets/2.png" alt="">

              <h4>Hospedagem Afetiva</h4>
              <p>
                Hotelzinho com manejo positivo e ambiente familiar
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xs-12 tst">
          <a href="" routerLink="/pet-care">
            <div class="service">

              <img src="./../../../assets/3.png" alt="">

              <h4>Pet Care</h4>
              <p>
                Agora o seu pet pode estar presente nos eventos mais importantes da sua vida
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-xs-12 tst">
          <a href="" routerLink="/pet-sitter">
            <div class="service">

              <img src="./../../../assets/4.png" alt="">

              <h4>Pet Sitter</h4>
              <p>
                Visitas à domicílio para cuidados personalizados aos animais de estimação em caso de ausência do tutor
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>