.services {
  background: #EAEAEA;

  .service-header {
    h1 {
      text-align: center;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 65px;

      color: #495057;
    }
  }

  .service-content {
    background: #EAEAEA;

    .service {
      margin-bottom: 100px;
      // padding: 0 30px;
      padding: 30px;
      text-align: center;
      background: #ffffff;
      border-radius: 15px;
      height: 336px;

      img {
        border-radius: 15px;
        width: 100%;
        height: 120px;
      }

      h4 {
        color: #000000;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;

        margin-top: 30px;
      }

      p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;

        color: #000000;

      }

      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      }

    }
  }
}

@media (max-width: 576px) {
  .services {
    .service-content {
      .service {

        margin-bottom: 50px;
      }
    }
  }

  .tst {
    padding-left: 40px;
    padding-right: 40px;
  }
}