.services {
  text-align: center;
  justify-content: center;
  align-items: center;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.3;
    color: #090707;

    span {
      color: #ED1E79;
      text-decoration: underline;
    }
  }

  .card-service {
    .circle {


      img {}
    }

    .card-style {
      border: 1px solid #ED1E79;
      border-radius: 8px;
      padding: 10px 20px;

      &+.card-style {
        margin-left: 20px
      }

      h4 {
        margin-top: 20px;
        font-weight: 700;
      }

      p {
        font-weight: 400;
      }

    }

    .circle {
      background: #E31B73;
      border-radius: 50%;
      height: 96px;
      width: 96px;

      img {

        height: 42px;
        width: 42px;
      }
    }
  }
}