<div class="services">
  <div class="container">
    <h2 class="text-center mt-4">
      NOSSOS <span>SERVIÇOS</span>
    </h2>

    <div class="card-service d-flex py-5">
      <div class="col-md-3 card-style">
        <div class="circle align-middle">
          <img src="../../../assets/img/dog.png" alt="">
        </div>

        <h4>Passeio para cães</h4>
        <p>O dog walker faz tal coisa se liga? E ainda pode fazer tal coisa se liga? Os dogs dao mo valor</p>
      </div>
      <div class="col-md-3 card-style">
        <div class="circle">
        </div>

        <h4>Hospedagem Afetiva</h4>
        <p>O dog walker faz tal coisa se liga? E ainda pode fazer tal coisa se liga? Os dogs dao mo valor</p>
      </div>

      <div class="col-md-3 card-style">
        <div class="circle">
        </div>

        <h4>Cuidados à domicílio</h4>
        <p>O dog walker faz tal coisa se liga? E ainda pode fazer tal coisa se liga? Os dogs dao mo valor</p>
      </div>

      <div class="col-md-3 card-style">
        <div class="circle">
        </div>

        <h4>Pet Care para eventos</h4>
        <p>O dog walker faz tal coisa se liga? E ainda pode fazer tal coisa se liga? Os dogs dao mo valor</p>
      </div>

    </div>

    <!-- <div class="d-flex py-4">
      <div class="col-md-3">
        <img src="" />
        <h4>PET WALKER</h4>
        <p>Lore ipsum lore ip sum lore ipsum</p>
        <button>SABER MAIS</button>
      </div>
      <div class="col-md-3">
        <img src="" />
        <h4>PET WALKER</h4>
        <p>Lore ipsum lore ipsum lore ipsum</p>
        <button>SABER MAIS</button>
      </div>
      <div class="col-md-3">
        <img src="" />
        <h4>PET WALKER</h4>
        <p>Lore ipsum lore ipsum lore ipsum</p>
        <button>SABER MAIS</button>
      </div>
      <div class="col-md-3">
        <img src="" />
        <h4>PET WALKER</h4>
        <p>Lore ipsum lore ipsum lore ipsum</p>
        <button>SABER MAIS</button>
      </div>
    </div> -->
  </div>
</div>