<div class="all">

  <div class="header-service text-center">
    <h2>Serviços</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">

      <div class="card-service col-md-3 col-sm-12 text-center mb-5">
        <a href="" routerLink="/dog-walking">
          <div class="image-card">
            <!-- <img src="./../../../assets/passeio.png" class="img-fluid" alt=""> -->
          </div>
          <div class="text-card">
            <h4 class="">Dog Walking</h4>
            <p>Passeios recreativos para cães de todas as idades e porte</p>
          </div>
        </a>
      </div>

      <div class="card-service col-md-3 col-sm-12 text-center mb-5">
        <a href="" routerLink="/hospedagem-afetiva">

          <div class=" image-card">
            <img src="" alt="">
          </div>
          <div class="text-card">
            <h4 class="">Hospedagem Afetiva</h4>
            <p>Hotelzinho com manejo positivo e ambiente familiar</p>
          </div>
        </a>
      </div>

      <div class="card-service col-md-3 col-sm-12 text-center mb-5">
        <a routerLink="/pet-care">

          <div class="image-card">
            <img src="" alt="">
          </div>
          <div class="text-card">
            <h4 class="">Pet Care</h4>
            <p>Agora o seu pet pode estar presente nos eventos mais importantes da sua vida</p>
          </div>
        </a>
      </div>

      <div class="card-service col-md-3 col-sm-12 text-center mb-5">
        <div class="image-card">
          <img src="" alt="">
        </div>
        <div class="text-card">
          <h4 class="">Passeio Sitter</h4>
          <p>Visitas à domicílio para cuidados personalizados aos animais de estimação em caso de ausência do tutor</p>
        </div>
      </div>

    </div>
  </div>
</div>