nav {

  .navbar-collapse {
    // margin-left: 40vh;
  }

  button.login {
    display: flex;
    align-items: center;
    background: #ED1E79;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    color: #FFFFFF;
    border-radius: 40px;
    padding: 10px 24px;
    transition: 0.6s;

    svg {
      margin-right: 5px;
    }

    &:hover {
      background: #FFFFFF;
      border: 1px solid #ED1E79;
      color: #ED1E79;
    }

  }

  .nav-link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    // line-height: 21px;
    /* identical to box height */


    color: #000000;

    &:hover {
      color: #ED1E79;
    }
  }
}

@media (min-width: 578px) {
  .navbar-collapse {
    // margin-left: 0px;
  }
}

.active {
  font-weight: 700;
}