<header class="">
  <div class="container">
    <div class="d-flex">

      <div class="logo">
        <a href="#">
          <img src="./../../../assets/img/logo.png" alt="">
        </a>
        <!-- <img src="../../../assets/img/start.png" alt=""> -->
      </div>
      <div class="center d-none d-sm-block">
        <a href="#" class="active">Início</a>
        <a href="#">Sobre</a>
        <a href="#">Serviços</a>
        <a href="#">Depoimentos</a>
      </div>

      <div class="end">

        <!-- <a href="#" class="login">Login</a> -->
        <a href="#" class="schedule">Agende Aqui</a>
      </div>
    </div>
  </div>
</header>