<nav class="navbar navbar-expand-lg py-3">
  <div class="container d-flex">
    <a class="navbar-brand" href="#">
      <img src="./../../../assets/img/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Serviços
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Dog Walking</a></li>
            <li><a class="dropdown-item" href="#">Hospedagem Afetiva</a></li>
            <li><a class="dropdown-item" href="#">Pet Care</a></li>
            <li><a class="dropdown-item" href="#">Pet Sitter</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Depoimentos</a>
        </li>
      </ul>
    </div>
    <div class="scheduling">
      <button class="d-none d-sm-block">
        Agende Aqui
      </button>
    </div>
  </div>
</nav>

<!-- <a href="#" class="login">Login</a> -->

<!-- <header class="">
  <div class="container">
    <div class="d-flex">

      <div class="logo">
        <a href="#">
          <img src="./../../../assets/img/logo.png" alt="">
        </a>
      </div>
      <div class="center d-none d-sm-block">
        <a href="#" class="active">Início</a>
        <a href="#">Sobre</a>
        <a href="#">Serviços</a>
        <a href="#">Depoimentos</a>
      </div>

      <div class="end">

        <a href="#" class="schedule">Agende Aqui</a>
      </div>
    </div>
  </div>
</header> -->