<header class="">
  <div class="container">
    <div class="d-flex">

      <div class="logo">
        <a href="#">
          POSITIVE<span>PET</span>
        </a>
        <!-- <img src="../../../assets/img/start.png" alt=""> -->
      </div>
      <div class="center d-none d-sm-block">
        <a href="#" class="active">Home</a>
        <a href="#">Serviços</a>
        <a href="#">Política de Serviço</a>
      </div>

      <div class="end">

        <a href="#" class="login">Login</a>
        <a href="#" class="schedule">Agende Aqui</a>
      </div>
    </div>
  </div>
</header>