.content {
  padding: 90px 0;

  h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 130%;
    /* identical to box height, or 91px */

    letter-spacing: 0.1em;

    /* Secondary Colors/gray-headline */

    color: #212529;
  }

  p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */


    /* Secondary Colors/gray-paragraph */

    color: #495057;
  }

  .content-check {
    margin-left: 110px;
    display: flex;
    align-items: center;
    // justify-content: start;

    img {
      margin-right: 20px;
    }

    p {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      /* or 21px */

      letter-spacing: 0.1em;

      color: #495057;
    }
  }
}

.section-value {
  h2 {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;

    /* Secondary Colors/gray-headline */

    color: #212529;
  }

  .value {
    background: #ffffff;
    padding: 50px 40px;
    border-radius: 15px;
  }

  .value {

    // margin: 100px;

    .header-value {
      text-align: center;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      strong {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;
        /* identical to box height */

        color: #000000;
        margin-left: 14px;
      }
    }

    .content-value {
      display: flex;
      justify-content: start;
      align-items: center;

      p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;

        color: #000000;
      }

      span {
        margin-left: auto;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;

        color: #000000;
      }
    }
  }

  button {
    margin-top: 40px;
    align-items: center;
    padding: 16px 32px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: #ED1E79;


    background: #F5F5F5;
    color: #ED1E79;
    border-radius: 40px;

    &:hover {}

    img {
      margin-right: 14px;
    }
  }

}