<app-header></app-header>

<section class="banner">
  <div class="container">
    <div class="content d-flex">
      <div class="col-md-6 col-xs-12">
        <h1>Hospedagem Afetiva</h1>
        <p>
          Nossa hospedagem é feita mediante agendamento.
          Com exclusividade para um cliente por vez (considerando a possibilidade de mais de um pet da mesma família),
          possibilitamos um conforto para o pet e a garantia de supervisão consciente.
        </p>
        <div class="content-check">
          <img src="./../../../assets/img/check.png" alt="">
          <p>No ambiente, proporcionamos enriquecimentos ambiental, passeios, feedback para o tutor e muito carinho para
            o dog</p>
        </div>
        <div class="content-check">
          <img src="./../../../assets/img/check.png" alt="">
          <p>Adaptamos a estadia de acordo com a necessidade do pet, considerando que cada serzinho merece respeito e
            atenção</p>
        </div>
        <div class="content-check">
          <img src="./../../../assets/img/check.png" alt="">
          <p>Feedback diário para o tutor</p>
        </div>
      </div>
      <div class="col-md-6 d-none d-sm-block">
        <img src="../../../assets/img/border.png" class="" alt="">
      </div>
    </div>
  </div>

</section>

<section class="section-value">
  <h2 class="text-center">
    Valores
  </h2>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-md-6 col-xs-12">

        <div class="value">
          <div class="header-value">
            <img src="./../../../assets/img/check.png" alt="">
            <strong>Diária</strong>
          </div>
          <div class="content-value">
            <p>1 Pet</p>
            <span>R$ 60,00</span>
          </div>
          <div class="content-value">
            <p>2 Pets</p>
            <span>R$ 100,00</span>
          </div>
          <div class="content-value">
            <p>3 Pets</p>
            <span>R$ 160,00</span>
          </div>
        </div>

      </div>

      <div class="col-md-6 col-xs-12">

        <div class="value">
          <div class="header-value">
            <img src="./../../../assets/img/check.png" alt="">
            <strong>Feriado (diária)</strong>
          </div>
          <div class="content-value">
            <p>1 Pet</p>
            <span>R$ 80,00</span>
          </div>
          <div class="content-value">
            <p>2 Pets</p>
            <span>R$ 120,00</span>
          </div>
          <div class="content-value">
            <p>3 Pets</p>
            <span>R$ 180,00</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <h4 class="text-center">* Desconto a partir de 5 diárias</h4>
  <h4 class="text-center">* Deslocamento – buscar e deixa (opcional)</h4>
  <div class="container text-center">

    <button class="">
      <img src="./../../../assets/img/wpp.svg" alt="">
      AGENDAR AQUI
    </button>
  </div>
</section>

<app-footer></app-footer>