<app-header></app-header>

<section class="banner">
  <div class="container">
    <div class="content d-flex row">
      <div class="col-md-6 col-xs-12">
        <h1>Hospedagem Afetiva</h1>
        <p>
          Esse é o momento de lazer e gasto energético do pet. Oferecemos a opção de passeios em 30 minutos ou 50
          minutos. Com manejo baseado na metodologia positiva, personalizamos o passeio de acordo com as necessidades do
          pet.
        </p>
        <div class="content-check">
          <img src="./../../../assets/img/check.png" alt="">
          <p>Momento de interação, sociabilização e exploração dos instintos naturais do dog</p>
        </div>
        <div class="content-check">
          <img src="./../../../assets/img/check.png" alt="">
          <p>Exclusividade para um cliente por vez (considerando a possibilidade de passeios duplos ou triplos da mesma
            família)</p>
        </div>
        <div class="content-check">
          <img src="./../../../assets/img/check.png" alt="">
          <p>Feedback para o tutor com a rota percorrida, relatório descritivo e fotinhas fofas do pet</p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <img src="../../../assets/img/border.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section>

<section class="section-value">
  <h2 class="text-center">
    Valores
  </h2>
  <div class="container">
    <div class="d-flex row justify-content-center">
      <div class="col-md-5 col-xs-12">
        <div class="value">
          <div class="header-value">
            <img src="./../../../assets/img/check.png" alt="">
            <strong>30 minutos</strong>
          </div>
          <div class="content-value">
            <p class="me-auto">1 Pet</p>
            <p>R$ 35,00</p>
          </div>
          <div class="content-value">
            <p class="me-auto">2 Pets</p>
            <p>R$ 40,00</p>
          </div>
          <div class="content-value">
            <p class="me-auto">3 Pets</p>
            <p>R$ 55,00</p>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="value">
          <div class="header-value">
            <img src="./../../../assets/img/check.png" alt="">
            <strong>50 minutos</strong>
          </div>
          <div class="content-value">
            <p class="me-auto">1 Pet</p>
            <p>R$ 35,00</p>
          </div>
          <div class="content-value">
            <p class="me-auto">2 Pets</p>
            <p>R$ 40,00</p>
          </div>
          <div class="content-value">
            <p class="me-auto">3 Pets</p>
            <p>R$ 55,00</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <h4 class="text-center mt-5 aviso">* Desconto para pagamento mensal</h4>
  <div class="container text-center">

    <button class="">
      <img src="./../../../assets/img/wpp.svg" alt="">
      AGENDAR AQUI
    </button>
  </div>
</section>

<app-footer></app-footer>