<app-header></app-header>
<form action="#" method="POST" class="form-group py-5">
  <div class="container">
    <div class="form-group mb-3">
      <input type="text" id="name" class="form-control" placeholder="Name" required>
    </div>
    <div class="form-group mb-3">
      <input type="email" id="email" class="form-control" placeholder="Email" required>
    </div>
    <div class="form-group mb-3">
      <input type="text" id="phone" class="form-control" placeholder="Phone Number" required>
    </div>

    <div class="form-group mb-3">
      <textarea id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
    </div>
    <div class="text-end">
      <button type="button" type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
    </div>
  </div>
</form>