<app-header></app-header>


<div class="" *ngFor="let item of banner">

  <div class="banner-service">
    <div class="container">
      <!-- <app-button-back></app-button-back> -->
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <h2>
            {{item.title}}
          </h2>

          <p class="subtitle">
            {{item.subtitle}}
          </p>

          <div class="content-check">
            <p class="subtitle-check">
              <img src="./../../../assets/img/check.png" alt="">
              {{item.check1}}
            </p>
            <p class="subtitle-check">
              <img src="./../../../assets/img/check.png" alt="">
              {{item.check2}}
            </p>
            <p class="subtitle-check">
              <img src="./../../../assets/img/check.png" alt="">
              {{item.check3}}
            </p>
          </div>

        </div>
        <div class="col-md-4 col-xs-12">
          <img src="./../../../assets/fotos/dogwalking.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>

</div>

<div class="investimento">

  <div class="container">
    <h2 class="text-center">Investimento</h2>
    <div class="row justify-content-center">
      <div class="col-md-4 box">
        <div class="investimento-content">

          <div class="investimento-header">
            <img src="./../../../assets/img/check.png" alt="">
            30 minutos
          </div>
          <div class="investimento-content-value">
            <p class="amount">1 pet</p>
            <p class="price">R$ 30,00</p>
          </div>

          <div class="investimento-content-value">
            <p class="amount">2 pets</p>
            <p class="price">R$ 40,00</p>
          </div>
          <div class="investimento-content-value">
            <p class="amount">3 pets</p>
            <p class="price">R$ 50,00</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 box">
        <div class="investimento-content">

          <div class="investimento-header">
            <img src="./../../../assets/img/check.png" alt="">
            50 minutos
          </div>
          <div class="investimento-content-value">
            <p class="amount">1 pet</p>
            <p class="price">R$ 35,00</p>
          </div>

          <div class="investimento-content-value">
            <p class="amount">2 pets</p>
            <p class="price">R$ 45,00</p>
          </div>

          <div class="investimento-content-value">
            <p class="amount">3 pets</p>
            <p class="price">R$ 55,00</p>
          </div>

        </div>
      </div>
      <h3 class="text-center">
        <img src="./../../../assets/fotos/pata1.svg" alt="">
        Pacotes exclusivos para pagamento mensal
      </h3>

      <a class="btn-plus" href=" https://wa.me/5585999324831">
        AGENDAR AQUI
      </a>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <h2 class="text-center">Conheça +</h2>
    <div class="row justify-content-center">
      <div class="col-md-3 col-xs-12">
        <img src="./../../../assets/fotos/dw1.png" alt="">
      </div>
      <div class="col-md-3 col-xs-12">
        <img src="./../../../assets/fotos/card2.png" alt="">
      </div>
      <div class="col-md-3 col-xs-12">
        <img src="./../../../assets/fotos/card3.png" alt="">
      </div>
      <div class="col-md-3 col-xs-12">
        <img src="./../../../assets/fotos/card4.png" alt="">
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>