<app-header></app-header>

<section class="banner">
  <div class="container">
    <div class="content d-flex">
      <div class="col-md-6 col-xs-12">
        <h1>Dog Walking</h1>
        <p>
          Esse é o momento de lazer e gasto energético do pet. Oferecemos a opção de passeios em 30 minutos ou 50
          minutos. Com manejo baseado na metodologia positiva, personalizamos o passeio de acordo com as necessidades do
          pet.
        </p>

      </div>
      <div class="col-md-6 d-none d-sm-block">
        <img src="../../../assets/img/border.png" class="" alt="">
      </div>
    </div>
  </div>

</section>