<app-header></app-header>

<div class="about">

  <h1 class="text-center">Sobre a Positive</h1>

  <div class="container mb-5">
    <div class="d-flex row">
      <div class="col-md-8 col-xs-12">
        <p>
          Olá! Sou a Tia Julia, CEO da Positive Pet, e vou contar nossa história pra vocês.
        </p>
        <p>
          A ideia da Positive surgiu quando a minha primeira cliente, Mariana, tutora do Tchaikovsky e do Vivaldi (dois
          goldens INCRÍVEIS), me incentivou a ler alguns livros sobre comportamento canino.
        </p>
        <p>
          Esse contato com o conhecimento me proporcionou segurança, pois sempre levei muito a sério a responsabilidade
          de cuidar dos pets e despertou em mim um grande interesse pelo universo canino, tanto na área comportamental
          quanto na área de treinamento/adestramento. Então, passei a ler diversos livros, a exemplo “A cabeça do
          cachorro, de Horowitz, Alexandra”, “O choque de Culturas”, de Jean Donaldson, “My dog pulls, what do i do?”,
          de Turid Rugaas, entre outros, que enriqueceram meu ambiente de trabalho e que melhoraram a minha forma de
          lidar com os cães.
        </p>
        <p>
          Em <strong>6 meses</strong> já estava com a agenda lotada e precisava abrir uma empresa para contratar uma
          equipe. Assim nasceu
          a <strong>Positive</strong>, inicialmente chamada Positive Walk. Montei a proposta de trabalho e divulguei ao
          meu grupo de
          amigas. Assim, a Tia Amanda, atualmente estudante de Farmácia, se interessou pela oportunidade.
        </p>
      </div>
      <div class="col-md-4 col-xs-12">
        <img src="./../../../assets/fotos/about.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="message">
      <p class="oi">
        Como eu já tinha a consciência de que deveria capacitar a equipe e tornar indispensável a leitura de alguns
        livros, a exemplo “A linguagem dos cães” de Turid Rugaas, pedi que ela me acompanhasse nos passeios, ensinei o
        manejo prático e entreguei o material de leitura. Então a Tia Amanda mergulhou nesse universo canino junto
        comigo e assim fomos conquistando nosso espaço como passeadoras.
      </p>
      <p class="oi">
        Através da Positive, tive a sorte de me relacionar com os melhores tutores de pet. Além disso, pude gerar
        oportunidades para mais jovens, capacitando-os para que todos pudéssemos entregar um serviço com a qualidade
        positive. Com o
        crescimento exponencial, fomos incrementando
        outros serviços além dos passeios, como hospedagem afetiva, pet sitter e pet care para eventos, assim suprindo
        as necessidades dos clientes.
      </p>
    </div>
    <p class="my-5 text-center">
      A Positive Pet também tem o propósito de espalhar conhecimento acerca do universo canino (através do instagram
      @positive.pet), baseado nos meus estudos regulares sobre assuntos da área comportamental.
    </p>
    <p>O objetivo é
      conscientizar e garantir o bem-estar dos pets.</p>
  </div>
</div>

<app-footer class="mt-5"></app-footer>