<div class="banner">
  <div class="container">
    <div class="content d-flex">
      <div class="col-md-6 col-xs-12">
        <h1>Positive <span>Pet</span></h1>
        <h2>dog walker <span>&</span> pet care</h2>
        <p>
          Referência em qualidade nos serviços para animais de estimação, a Positive Pet conta com profissionais
          dedicados em proporcionar os melhores Cuidados Pet do mercado. Pensando no Bem Estar Animal, ajudamos tutores
          a manterem a saúde física e mental de seus pets em dia. Oferecemos diversos serviços com a garantia de
          segurança e retorno positivo para o cliente.
        </p>
        <div class="">
          <button class="">
            <img src="./../../../assets/img/wpp.svg" alt="">
            AGENDE AQUI
          </button>
        </div>
      </div>
      <div class="col-md-6 d-none d-sm-block">
        <img src="../../../assets/img/border.png" class="" alt="">
      </div>
    </div>
  </div>
</div>