<div class="banner">
  <div class="container">
    <div class="content d-flex row">
      <div class="col-md-4 col-xs-12 cover">
        <img src="../../../assets/img/blue.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-8 col-xs-12">
        <h1>Positive <span>Pet</span></h1>
        <h2>Dog walker <span>&</span> Pet care</h2>
        <p>
          Referência em qualidade nos serviços para animais de estimação, a Positive Pet conta com profissionais
          dedicados em proporcionar os melhores Cuidados Pet do mercado.
        </p>
        <p>
          Pensando no Bem Estar Animal, ajudamos tutores
          a manterem a saúde física e mental de seus pets em dia.
        </p>

        <button class="" routerLink="/sobre-nos">
          SOBRE NÓS
        </button>

      </div>
    </div>
  </div>
</div>