<div class="banner">
  <div class="container">
    <div class="content d-flex">
      <div class="col-md-6 col-xs-12">
        <h1>Positive <span>Pet</span></h1>
        <h2>dog walker <span>&</span> pet care</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing love
          Lorem Ipsum is simply dummy text of the printing love
          Lorem Ipsum is simply dummy text of the printing love
        </p>
        <div class="btn-group">
          <button class="btn-banner">Agende Aqui</button>
          <button class="btn-info">Saiba Mais</button>
        </div>
      </div>
      <div class="col-md-6 d-none d-sm-block">
        <img src="../../../assets/img/1660013867426.png" class="" alt="">
      </div>
    </div>
  </div>
</div>