.banner {
  background: #000000;

  .content {
    padding: 30px 0;
  }

  h1 {
    color: #ffffff;
    font-size: 6rem;
    font-weight: 700;

    span {
      color: #ED1E79;
    }
  }

  h2 {
    color: #ffff;
    letter-spacing: 11px;

  }

  p {
    color: #fcfcfc;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
  }

  .btn-group {
    margin-top: 40px;

    .btn-banner {
      background: #ED1E79;
      color: #ffffff;
      border-radius: 10px;
      margin-right: 10px;
      padding: 10px 20px;
      text-decoration: none;

      &:hover {
        filter: brightness(0.9);
      }
    }

    .btn-info {
      background: transparent;
      color: #ffffff;
      text-decoration: underline;
    }
  }

  .banner-img {
    background: red;
    // background-image: url('../../../assets/img/peto.png');
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }

  .group-buttons {
    margin-top: 30px;

    .btn-info {
      padding: 10px 15px;
      border-radius: 8px;
      background: #ED1E79;
      color: #ffffff;
      font-weight: 700;
    }

    .btn-service {
      margin-left: 10px;
      padding: 10px 15px;
      border-radius: 8px;
      color: #ED1E79;
      background: transparent;
      border: 1px solid #ED1E79;
      font-weight: 700;
    }
  }

  img {
    height: 400px;
  }
}

@media (max-width:480px) {
  .banner {
    h1 {
      font-size: 10px;
    }
  }
}