.carousel-control-prev,
.carousel-control-next {

  // padding: 15px;

  span {
    background: #ED1E79;
    font-size: 24px;
    border-radius: 50%;
    color: #fff;
  }
}

.review {
  background: #EAEAEA;
  // margin-bottom: 50px;
  padding-top: 50px;

  h1 {
    // margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Arima', cursive;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 65px;
    text-align: center;

    color: #495057;

    span {
      background: #ED1E79;
      color: #ffffff;
      padding: 2px 5px;
      border-radius: 8px;
      font-size: 24px;
    }
  }

  .review-content {
    padding-bottom: 50px;
    margin-bottom: 50px;
    // border-radius: 8px;
    background: #fff;
    padding: 50px;
    // height: 300px;


    h4 {
      margin-top: 20px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
    }

    p {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;


      color: #495057;
    }
  }

  .all {
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 700;
    color: #495057;

    // margin-bottom: 50px;

    &:hover {
      color: #ED1E79;
      // text-decoration: underline;
    }
  }
}

@media (max-width: 576px) {
  .review {
    padding: 30px;

    .review-content {
      margin-bottom: 30px;

    }
  }
}