<div class="review">
  <div class="container">
    <h2 class="text-center pt-5 pb-5">
      NOSSOS <span>CLIENTES</span>
    </h2>
    <div class="review">
      <div class="d-flex">
        <div class="col-md-6">
          <div class="client">
            <img src="https://github.com/rafaelsrabelo.png" class="" alt="...">
          </div>
        </div>
        <div class="col-md-6">
          <div class="text">
            <p class="mb-5 mt-5">O blue depois que acontceu tal coisa ficou um cachorro muito legal, ama passear e nao é
              nada
              reativo, as tias e tios da positive são nota 100000000, sou fa! Indico para todo mundo que tem um dogzin
              reativo</p>
            <p><strong>Rafael Rabelo</strong><br> <small>Pai do Blue</small></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>