<div class="review mb-5">

  <h1 class="text-center my-5" id="review">Reviews</h1>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="container">
        <div class="carousel-item active">
          <div class="card-review item">
            <img src="./../../../assets/img/star.png" alt="">
            <h4>Mariana</h4>
            <small>Tutora Tchai e Vivaldi @vamosjuntospet</small>
            <p class="mariana">
              Ter alguém que a gente confia para cuidar dos nossos pets é fundamental. A Positive Pet prepara seus
              funcionários para entregar um serviço de qualidade que leva em consideração as necessidades da espécie em
              questão, sua linguagem corporal e além disso, fazem tudo com amor. Ter profissionais preparados faz toda
              diferença. Tenho orgulho em falar que fui a primeira cliente a contratar a equipe e a acreditar em todo
              esse potencial. Uso e indico o serviço, com certeza!
              Aproveito para parabenizar pelo esforço e dedicação.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-review item">
            <img src="./../../../assets/img/star.png" alt="">
            <h4>Bruno</h4>
            <small>Tutor da Marcelina</small>
            <p>Estamos com a Positive há pouco menos de 1 mês e posso afirmar que nunca vi pessoas tão comprometidas e
              que
              fazem o trabalho com muito amor. A Marcelina (pitbull de 10 meses) tem uma energia de outro mundo e por
              trabalharmos o dia todo fica difícil gastar essa energia, graças ao serviço de petsitter ficamos muito
              mais
              tranquilos em saber que ela tá se divertindo e em boas mãos. Obrigado Time Positive
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-review item">
            <img src="./../../../assets/img/star.png" alt="">
            <h4>Guilherme</h4>
            <small>Tutor da Pipa</small>
            <p>A felicidade da Pipa quando vê a Tia Ju já consegue descrever o bem o amor que ela tem 🐶♥️.No início
              ficamos com um pouco de receio de deixar a Pipa sozinha com alguém que não conhecíamos. Agora já confiamos
              de olhos fechados e admiramos muito o trabalho da positive!
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-review item">
            <img src="./../../../assets/img/star.png" alt="">
            <h4>Libna</h4>
            <small>Tutora da Bebel e do Baixxta @baixxtaebebel</small>
            <p>Falar da Positive Pet é falar de respeito. O Baixxta e a Bebel são apaixonados pela tia Júlia e pelo
              tanto
              de respeito e carinho a cada passeio! Eles se sentem seguros e aprendem a cada passeio. Já eu me sinto
              segura sabendo que meus bebês estão com a tia. ❤️
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-review item">
            <img src="./../../../assets/img/star.png" alt="">
            <h4>Rebeca Rocha</h4>
            <small>tutora do Luke</small>
            <p>Equipe da Positive é perfeita! Meu gatão Luke ama as meninas. Sempre nos passeios com reforço positivo e
              prontas para gastar toda a energia do gatão. Super responsáveis, prestativas e preparadas pra cuidar dos
              nossos filhotes.🐕
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card-review item">
          <img src="./../../../assets/img/star.png" alt="">
          <h4>Tati Barros</h4>
          <small>Tutora da Maui e do Marlon</small>
          <p>A positive me passa segurança e confiança, além de ter proporcionado uma ótima rotina pros meus
            cachorros.
            Melhorou a qualidade de vida deles e a minha também hahaha meus filhos estão mais felizes! Além de todo o
            conhecimento sobre o comportamento do animal que estamos aprendendo. Eu amo e não largo nunca mais ❤️ e
            aaaaah, os meninos mandam lambeijos pra tia.
          </p>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>

      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

</div>

<!-- <div class="text-center my-5">
  <h2 id="review">Reviews</h2>
</div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">

    </div>
    <div class="carousel-item">

    </div>
    <div class="carousel-item">

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="containerr">
  <button class="arrow-left control" aria-label="Previous">
    <img src="./../../../assets/img/left.png" alt="">
  </button>
  <button class="arrow-right control" aria-label="Next">
    <img src="./../../../assets/img/right.png" alt="">
  </button>
  <div class="gallery-wrapper">
    <div class="gallery">
      <div class="card-review item">
        <img src="./../../../assets/img/star.png" alt="">
        <h4>Bruno</h4>
        <small>Tutor da Marcelina</small>
        <p>Estamos com a Positive há pouco menos de 1 mês e posso afirmar que nunca vi pessoas tão comprometidas e que
          fazem o trabalho com muito amor. A Marcelina (pitbull de 10 meses) tem uma energia de outro mundo e por
          trabalharmos o dia todo fica difícil gastar essa energia, graças ao serviço de petsitter ficamos muito mais
          tranquilos em saber que ela tá se divertindo e em boas mãos. Obrigado Time Positive
        </p>
      </div>
      <div class="card-review item current-item">
        <img src="./../../../assets/img/star.png" alt="">
        <h4>Tati Barros</h4>
        <small>Tutora da Maui e do Marlon</small>
        <p>A positive me passa segurança e confiança, além de ter proporcionado uma ótima rotina pros meus cachorros.
          Melhorou a qualidade de vida deles e a minha também hahaha meus filhos estão mais felizes! Além de todo o
          conhecimento sobre o comportamento do animal que estamos aprendendo. Eu amo e não largo nunca mais e aaaaah,
          os meninos mandam lambeijos pra tia.
        </p>
      </div>
      <div class="card-review item">
        <img src="./../../../assets/img/star.png" alt="">
        <h4>Libna</h4>
        <small>Tutora da Bebel e do Baixxta @baixxtaebebel</small>
        <p>Falar da Positive Pet é falar de respeito. O Baixxta e a Bebel são apaixonados pela tia Júlia e pelo tanto de
          respeito e carinho a cada passeio! Eles se sentem seguros e aprendem a cada passeio. Já eu me sinto segura
          sabendo que meus bebês estão com a tia
        </p>
      </div>
      <div class="card-review item">
        <img src="./../../../assets/img/star.png" alt="">
        <h4>Rebeca</h4>
        <small>Tutora do Luke</small>
        <p>Equipe da Positive é perfeita! Meu gatão Luke ama as meninas. Sempre nos passeios com reforço positivo e
          prontas para gastar toda a energia do gatão. Super responsáveis, prestativas e preparadas pra cuidar dos
          nossos filhotes
        </p>
      </div>
    </div>
  </div>
</div> -->