.containerr {
  position: relative;
  padding: 15px;
  max-width: 1140px;
  margin: 0 auto;

  .gallery-wrapper {
    overflow-x: auto;
  }

  .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;

    .card-review {
      background: #ffffff;
      padding: 50px 40px;
      border-radius: 6px;
      width: 360px;


      img {}

      h4 {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
      }

      small {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 0%;
        /* identical to box height, or 0px */


        /* Secondary Colors/gray-paragraph */

        color: #495057;
      }

      p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */


        /* Secondary Colors/gray-paragraph */

        color: #495057;
      }
    }
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 0;
    left: 374px;
    right: auto;
    bottom: 0;
    background: transparent;
    cursor: pointer;
    border: none;

    transition: 0.5s;

    &:hover {
      filter: brightness(0.8);
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  .arrow-right {
    left: auto;
    right: 324px;
  }

  .item {
    width: 349px;
    height: 220px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
  }

  .current-item {
    width: 544px;
    height: 292px;
    opacity: 1;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .gallery-wrapper {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}