.banner-message {
  background: #ED1E79;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;

  padding: 50px 20px;
}

.dog {
  img {
    width: 26px;
    height: 24px;
  }
}

@media (max-width: 576px) {
  .banner-message {
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
  }

  img {
    width: 16px;
    height: 18px;
  }
}