<app-header></app-header>
<app-banner></app-banner>
<app-services></app-services>

<div class="banner-message mt-5">
  <div class="container">
    <div class="col-md-10 col-xs-12">
      Estamos conectados. Os cães vieram ao mundo para nos ensinar a sermos humanos melhores. Por isso, melhoramos
      a vida deles como forma de gratidão. <br>
      <img src="../../../assets/img/pata-de-gato-png-Imagem-png-gratis-removebg-preview 1.svg" class="me-3" alt=""> Por
      um mundo mais
      Positive!
    </div>
  </div>
</div>

<app-review></app-review>

<app-footer></app-footer>