.banner {
  background: #E6E7E7;
}

.content {
  padding: 90px 0;

  h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 130%;

    /* identical to box height, or 91px */

    letter-spacing: 0.1em;

    /* Secondary Colors/gray-headline */

    color: #212529;
  }

  p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */


    /* Secondary Colors/gray-paragraph */

    color: #495057;
  }

  .content-check {
    margin-left: 110px;
    display: flex;
    align-items: center;
    // justify-content: start;

    img {
      margin-right: 20px;
    }

    p {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      /* or 21px */

      letter-spacing: 0.1em;

      color: #495057;
    }
  }
}

.section-value {
  background: #E6E7E7;

  h2 {
    padding: 60px 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;

    /* Secondary Colors/gray-headline */

    color: #212529;

  }

  .value {
    background: #ffffff;
    padding: 50px 40px;
    border-radius: 15px;
  }

  .value {

    // margin: 100px;

    .header-value {
      text-align: center;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      strong {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;
        /* identical to box height */

        color: #000000;
        margin-left: 14px;
      }
    }

    .content-value {
      display: flex;
      justify-content: start;
      align-items: center;

      p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;

        color: #000000;
      }

      span {
        margin-left: auto;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;

        color: #000000;
      }
    }
  }

  button {
    margin-top: 40px;
    align-items: center;
    padding: 16px 32px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid #F5F5F5;

    color: #ED1E79;


    background: #F5F5F5;
    color: #ED1E79;
    border-radius: 40px;

    &:hover {
      // filter: brightness(0.9)
      border: 1px solid #ED1E79;
    }

    img {
      margin-right: 14px;
    }
  }

}

.plus-about {
  img {

    height: 320px;
    width: 256px;
  }
}

.ver-mais {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: #ED1E79;
}

.plus {
  background: #d2d2d2;
  // margin-bottom: 30px;

  // padding: 30px;
  img {
    height: 360px;
  }

  h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;

    /* Secondary Colors/gray-headline */

    color: #212529;

  }
}

@media (max-width: 576px) {

  .banner {
    .content {
      .blue {
        padding: 20px 30px;
      }

      .section-value {
        margin: 0;
      }

      h1 {
        font-size: 44px;
      }

      .content-check {
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
        // text-align: center;
        // background: red;
        // margin-bottom: 40px;
      }
    }
  }

  .value {
    margin: 20px;
  }

  .aviso {
    font-size: 18px;
  }

  .plus {
    margin: 30px;

    img {
      // margin-bottom: 30px;
      // padding: 30px;
      width: 100%;

      margin-bottom: 30px;
    }
  }
}