.banner-service {
  background-color: #E6E7E7;
  padding: 90px 0;

  h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 130%;
    /* identical to box height, or 91px */

    letter-spacing: 0.1em;

    /* Secondary Colors/gray-headline */

    color: #212529;
  }

  .subtitle {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    margin-top: -12px;
    /* Secondary Colors/gray-paragraph */

    color: #495057;
  }

  .content-check {
    margin-top: 40px;

    .subtitle-check {
      margin-left: 90px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      /* or 21px */

      letter-spacing: 0.1em;

      color: #495057;
    }
  }

}

.investimento {
  background: #E6E7E7;
  padding: 0px;

  h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;

    /* Secondary Colors/gray-headline */

    color: #212529;
    padding-bottom: 60px;
  }

  .investimento-content {
    background: #ffffff;
    border-radius: 15px;
    padding: 30px;
  }

  .investimento-header {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #000000;
    margin-bottom: 50px;

    img {
      margin-right: 10px;
    }
  }

  .investimento-content-value {
    display: flex;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #000000;

    .value {

      margin-top: 50px;
    }

    .price {
      margin-left: auto;
    }

  }

  h3 {
    margin: 60px 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */


    color: #000000;

    img {
      margin-right: 10px;
    }

  }

  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    font-weight: 700;
    width: 167px;
    height: 50px;

    background: #F5F5F5;
    color: #ED1E79;
    border-radius: 40px;

    transition: 0.8s;

    margin-bottom: 50px;

    &:hover {
      color: #ffffff;
      background: #ED1E79;
    }
  }
}

section {
  background: #D2D2D2;
  padding-bottom: 60px;

  h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;

    /* Secondary Colors/gray-headline */

    color: #212529;
    padding: 60px 0;
  }

  img {
    width: 100%;

  }
}

@media (max-width: 576px) {
  .investimento {}

  div {

    .banner-service {

      h2 {
        text-align: center;
        font-size: 42px;
        margin-bottom: 50px;
      }

      .subtitle {
        font-size: 18px;

        text-align: center;
      }

      .subtitle-check {
        display: flex;
        align-items: center;
        font-size: 16px;

        margin-left: 0 !important;
        margin-right: 20px;
      }

      img {
        padding: 0 30px;
        margin-top: 30px;
      }
    }
  }

  .investimento-content {
    margin-bottom: 30px;

  }

  section {
    padding: 30px;

    img {
      // margin-bottom: 20px;
      // width: 100%;
    }
  }
}