footer {
  // margin-top: 100px;

  background: #00000080;

  a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;

    color: #000000;
  }

  .container {}

  .social-network {

    .icon {
      // border: 1px solid #000;
    }
  }
}